@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

p::selection {
  color: white;
  background: black;
}

.color-info::selection {
  color: white;
  background: black;
}

.flipper-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flipBtn {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  border: 2px solid black;
  border-radius: 0.3rem;
  height: 3rem;
  width: 9rem;
  cursor: pointer;
  background-color: aliceblue;
  transition: 0.2s ease;
  margin-bottom: 0.4rem;
}

.flipper-card p {
  font-size: 1.4rem;
  background-color: rgb(221, 239, 255);
  border: 2px solid rgb(2, 2, 2);
  border-radius: 0.4rem;
  padding: 0.4rem;
}

.flipBtn:hover {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: rgb(232, 232, 232);
}
.flipBtn:active {
  font-size: 1.3rem;
  transition: 0.1s ease;
  height: 2.8rem;
  width: 8.8rem;
  margin-bottom: 0.6rem;
}
